{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 300px; background-image: url(/static/assets/img/theme/ml-brain2.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-5"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Our Team
        </h1>
        <p class="text-white mt-0 mb-5">We present you the minds and souls behind this incredible senior design project.   </p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/justinlee.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          
        </div>
        <br><br>
        <div class="card-body pt-0">
          
          <div class="text-center">
            <h5 class="h3">
              Justin Lee
            </h5>
            <div class="h5 font-weight-300">
              justinlee38@outlook.com
            </div>
            <div class="justify-content-center">
              <a href="https://www.linkedin.com/in/justinlee38" class="btn btn-sm btn-info  mt-4 ">Connect</a>
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Bachelor of Science in Computer Science
            </div>
            <div>
              <!-- <i class="ni education_hat mr-2"></i>DOGE COIN 420 -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/thongsheng.jfif" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          
        </div>
        <br><br>
        <div class="card-body pt-0">
          
          <div class="text-center">
            <h5 class="h3">
              Thongsheng Ang
            </h5>
            <div class="h5 font-weight-300">
              thongsheng99@gmail.com
            </div>
            <div class="justify-content-center">
              <a href="https://www.linkedin.com/in/thongshengang/" class="btn btn-sm btn-info  mt-4 ">Connect</a>
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Bachelor of Science in Data Science
            </div>
            <div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row justify-content-center">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/nathan.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          
        </div>
        <br><br>
        <div class="card-body pt-0">
          
          <div class="text-center">
            <h5 class="h3">
              Nathan Brackenbury
            </h5>
            <div class="h5 font-weight-300">
              nathan.h.brackenbury@wmich.edu
            </div>
            <div class="justify-content-center">
              <a href="https://github.com/KinacOelio" class="btn btn-sm btn-info  mt-4 ">Connect</a>
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Bachelor of Science in Computer Science
            </div>
            <div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/anson.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          
        </div>
        <br><br>
        <div class="card-body pt-0">
          <div class="text-center">
            <h5 class="h3">
              Anson Zeeping Lim
            </h5>
            <div class="h5 font-weight-300">
              ansonzlim@gmail.com
            </div>
            <div class="justify-content-center">
              <a href="https://github.com/ansonzlim" class="btn btn-sm btn-info  mt-4 ">Connect</a>
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Bachelor of Science in Data Science
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
