{% extends 'layouts/base.html' %}

{% block title %} Subtask A {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Subtask A</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Task</a></li>
                <li class="breadcrumb-item active" aria-current="page">Subtask A</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Validation</h3>
            <p>Task: Which statement of the two is against common sense?</p>
            <br>
            <p>Given two similar statements s1 and s2, which are in the same syntactic structure and differ by only a few words. <br>
              The trained NLP model has to identify which one makes sense.</p>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <form action="{{ url_for('base_blueprint.predictA')}}"method="post">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Index</th>
                  <th scope="col" class="sort" data-sort="budget">Sentence</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <th scope="row">
                    1
                  </th>
                  <td class="budget">
                    
                      <!-- Card body -->
                      <div class="card-body" data-select2-id="6">   
                          <select name="sent0"  class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="1" tabindex="-1" aria-hidden="true">
                            {% for sent in subtaskA %}
                            <option  value= '{{ sent.sent0 }}'> {{ sent.sent0 }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    2
                  </th>
                  <td class="budget">
                    <div class="card-body" data-select2-id="6">
                        <select name="sent1" class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="1" tabindex="-1" aria-hidden="true">
                          {% for sent in subtaskA %}
                          <option  value= '{{ sent.sent1 }}'> {{ sent.sent1 }}</option>
                          {% endfor %}
                        </select>
                   
                    </div>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Validate</button>
                  </td>
                  </tr>
                  
                  
              </tbody>
            </table>
          </form>

            <div class="card-header border-0">
              {% if makeSense == 0 %}
                  <h3 class="mb-0">Sentence 1 is correct. </h3>
                  <p>Setence 1: "{{sent0}}" make sense. 
                  <p>Setence 2: "{{sent1}}" does not make sense. 
                  <p>{{ prediction_text }}</p>
              {% elif makeSense == 1 %}
                  <h3 class="mb-0">Sentence 2 is correct. </h3>
                  <p>Setence 1: "{{sent0}}" does not make sense. 
                  <p>Setence 2: "{{sent1}}" make sense. 
                  <p>{{ prediction_text }}</p>
              {% endif %}
              <!-- <h3 class="mb-0">Sentence 2 is correct. </h3>
              <p>Setence 1: "He loves to stroll at the park with his bed" does not make sense. 
                <br>Evaluation Time: 10ms</p>
                <p>{{ prediction_text }}</p> -->
            </div>
          </div>
          <!-- Card footer -->
          
        </div>
      </div>
    </div>
    <!-- Dark table -->
    

    

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
